@font-face {
    font-family: 'NanumMyeongjo';
    src: url('../assets/fonts/NanumMyeongjo.eot');
    src: url('../assets/fonts/NanumMyeongjo.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/NanumMyeongjo.woff2') format('woff2'),
        url('../assets/fonts/NanumMyeongjo.woff') format('woff'),
        url('../assets/fonts/NanumMyeongjo.ttf') format('truetype'),
        url('../assets/fonts/NanumMyeongjo.svg#NanumMyeongjo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('../assets/fonts/NanumMyeongjoBold.eot');
    src: url('../assets/fonts/NanumMyeongjoBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/NanumMyeongjoBold.woff2') format('woff2'),
        url('../assets/fonts/NanumMyeongjoBold.woff') format('woff'),
        url('../assets/fonts/NanumMyeongjoBold.ttf') format('truetype'),
        url('../assets/fonts/NanumMyeongjoBold.svg#NanumMyeongjoBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumMyeongjoExtraBold';
    src: url('../assets/fonts/NanumMyeongjoExtraBold.eot');
    src: url('../assets/fonts/NanumMyeongjoExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/NanumMyeongjoExtraBold.woff2') format('woff2'),
        url('../assets/fonts/NanumMyeongjoExtraBold.woff') format('woff'),
        url('../assets/fonts/NanumMyeongjoExtraBold.ttf') format('truetype'),
        url('../assets/fonts/NanumMyeongjoExtraBold.svg#NanumMyeongjoExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


