body{
    background-color:$base-bg-color;
    overflow-x:hidden;
}
.section-container{
    margin:0 auto;
    padding:0 pad(0.5);
}

@media (min-width:$medium-screen){
    .section-container{
        padding:0 pad(1);
    }
}

@media (min-width:1800px){
    .section-container{
        padding:0;
        max-width:1800px;
    }
}


.full-width{
    margin:0 auto;
    width:100%;
}

.cover-img{
    object-fit: cover;
    max-height:800px;
    width:100%;
}

.underline {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0; 
        bottom: 0px;
        height: 1px;
        background-color: #000;
        width: 0;
        transition: width .25s;
    }

    &:hover,
    &:focus,
    &:active {
     /* cursor: pointer;*/
     &:after {
        width: 100%;
    }
  }
  
  
}


.cover{
    object-fit: cover;
}

/* Text meant only for screen readers. */
.skip-link {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
    white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.skip-link:focus {
	background-color:$white;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #000;
	display: block;
    font-family: $base-font;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}