//numeric values
$base-padding:50px;
$max-width:1800px;

//colors
$grey: #DDD;
$dark-grey: #4D4D4D;
$white:#FFF;
$white-grey: #E6E6E6;
$black: #000;

$base-bg-color: $white;
$font-color: $black;
$alt-font-color: $white;

//font families
$base-font: 'NanumMyeongjo';


//font sizes
$base-font-size: 24px;
$base-font-size-mob:16px;
$subscript-font-size:16px;
$subscript-font-size-mob:12px;



//font weights
$normal: normal;
$bold: bold;
$extra-bold:800;


$big-screen:1600px;
$medium-screen:1200px;
$small-screen:780px;    